@model Account.Entity.AccountDetail

@{
    ViewBag.Title = "Login";
}
<style>
    table, th, td {
        border: 1px solid black;
        background-color: lemonchiffon;
        padding: 1px;
        column-width:6cm;

    }
</style>

<h2>Login</h2>

@using (Html.BeginForm("SignUp", "Account", FormMethod.Post))
{
    <table>
        <tr>
            <td>User Name :</td>
            <td> @Html.TextBoxFor(Model => Model.UserName)</td>
        </tr>
        <tr>
            <td>Password : </td>
            <td>@Html.TextBoxFor(Model => Model.Name)</td>
        <tr>
            <td>
                <input type="submit" />
            </td>
            <td><a href="/Index">Back</a></td>
        </tr>
    </table>
}


